html {
  scroll-behavior: smooth;
}

.custom-brand, .custom-toggler, .custom-link:hover, .darker-label, .custom-btn, .submit-btn {
  color: #030303; 
}

.custom-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.custom-toggler {
  border-color: #030303;
}

.custom-link:hover {
  text-decoration: underline;
}

.navbar.sticky-top {
  transition: background-color 0.3s;
}

.navbar.sticky-top.scrolled {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hero-section {
  margin-top: 20px;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.contact-section {
  padding-top: 3rem;
}

.custom-btn, .submit-btn {
  background-color: #fff;
  border-color: #030303;
}

.custom-btn:hover, .submit-btn:hover {
  color: #fff;
  background-color: #020202;
  border-color: #020202;
}

form .d-grid.mb-4 {
  margin-bottom: 2rem;
}

.nav-link, .custom-link {
  text-decoration: none !important;
}
