
html {
  scroll-behavior: smooth;
}

.custom-brand {
  font-weight: bold;
  color: #030303; 
  font-size: 1.5rem;
}

.custom-toggler {
  border-color: #030303;
}

.custom-link:hover {
  color: #030303; 
  text-decoration: underline;
}

.navbar.sticky-top {
  transition: background-color 0.3s;
}

.navbar.sticky-top.scrolled {
  background-color: #fff; /* Color when scrolled */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hero-section {
  margin-top: 20px;
}
.hero-image {
  width: 100%;
  height: auto;
  border-radius: 0.25rem; /* Optional: for rounded corners */
}

.card-img-top {
  height: 200px; /* Set a fixed height */
  object-fit: cover; /* This will cover the area without stretching the image */
  object-position: top;
  width: 100%; /* This will make sure the width is always 100% of the card */
}


.contact-section {
  padding-top: 3rem; /* or use margin-top if preferred */
  /* Other styles for the contact section */
}

.darker-label {
  color: #030303;
}

.custom-btn {
  color: #030303; /* This sets the text color to white */
  background-color: #fff; 
  border-color: #030303; /* Border color if needed */
}

.custom-btn:hover {
  color: #fff; /* Text color on hover */
  background-color: #020202; /* Slightly different color on hover */
  border-color: #020202; /* Border color on hover */
}


/* Adjust bottom spacing of the form */
form .d-grid.mb-4 {
  margin-bottom: 2rem;/* or adjust as needed */
}

.submit-btn {
  color: #fff; /* Sets the text color to white */
  background-color: #030303; /* Sets the button color to black */
  border-color: #030303; /* Sets the border color to black */
}

.submit-btn:hover {
  color: #fff; /* Text color on hover (keep it white) */
  background-color: #020202; /* Slightly darker color on hover */
  border-color: #020202; /* Border color on hover */
  background-color: #000; /* Darken the background color */

}


.nav-link, .custom-link {
  text-decoration: none !important; /* Use !important to ensure override */
}
